@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@source "../src/**/*.{js,ts,jsx,tsx}";

* {
  box-sizing: border-box;
}

body {
  font-family: "Exo 2", sans-serif;
  min-height: 100vh;
}
